<h1>Index page for lists</h1>
<h2>Here are your lists:</h2>
<% if @lists.empty? %>
  <p>Lists are not created yet!!!</p>
<% else %>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @lists.each do |list| %>
      <div class="col">
      <a href="<%=list_path(list) %>">
        <div class="card" >
          <h5 class="card-title"><%= list.name%></h5>
        </div>
        </a>
        <!--card-->
      </div>
      <!--col-->
    <% end %>
  </div>
  <!--row-->
<% end %>
<%= cl_image_tag("cld-sample",
      width: 400, height: 300, crop: :fill) %>
