<h1> Index Page for Lists</h1>
  <% if @lists.empty? %>
  <h2> Sorry! You haven't created any list yet! </h2>
  <% else %>
  <h2>Here Are Your Lists</h2>
  <% @lists.each do |list| %>
  <%= list.name %>
  <% end  %>
<% end %>
