<h1>Form to generate a new list</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name, :label => 'List name please', :hint => 'Name has to be unique.', :placeholder => 'Comedy', :error => 'The name is mandatory and has to be unique'  %>

  <%= f.input :image, as: :file%>
  <%= f.button :submit %>
<% end %>
