// basic colors
$white: #ffffff;
$red: #A23F3C;
$black: #4A463A;
$beigenav: #F0F0F0;
$beigebackground: #E7E3D7;
$grey: #726E62;
$lightgrey: #EAEAEA;


//background colors

.bg-beige {
	background-color: $beigebackground;
}
