<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class ="flip-horizontally" src="https://freesvg.org/img/Sofa-lineart.png" alt="image of sofa">
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">See your lists</a>
          </li>
          <li class="nav-item">
            <%= link_to "Add a List", new_list_path, class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>
