.link-button{
  padding: 8px, 24px;
  background-color: #A23F3C;
  color: #EAEAEA;
  border-radius: 3px;
}

.delete-button {
  padding: 8px, 24px;
  background-color: #726E62;
  color: #EAEAEA;
  border-radius: 3px;
  text-decoration: none;
}


